    <!-- About Section -->
    <section id="about" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h1>Hello World!</h1>
          <h3>
            <p>
              <span class="highlight">Thanks for visiting ma3east.com,<br> the personal website for Andrea Mckenzie,<br> a Full Stack Web Developer based in East London, United Kingdom, and occasionally found on the beaches of the Caribbean.
              </span>
            </p>
          </h3>
          
          <br/>
          <p>
            Over the past 15 years I have been working in system support roles for software companies but have always had an interest in development. After spending some time teaching myself to code I decided to immerse myself in the General Assembly Web Development programme. Combining my previous experience with a good foundation in web development from GA I am now looking for opportunities where I can continue my journey of learning to be a great developer. 

            During my time at GA I used a number of technologies which are showcased in some of my projects below.
          </p>

          <p>This theme features stock photos by <a href="http://join.deathtothestockphoto.com//">Death to the Stock Photo</a>.</p>
          <p>Landing-Page includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
          <br/>
          <p>See a link to my GA Profile here:
            <a href="https://profiles.generalassemb.ly/profiles/andrea-mckenzie"></a> 
          </p>
        </div>
      </div>
    </section>
