<!-- jQuery Version 1.11.0 -->
<script defer src="js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script defer src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script defer src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script defer src="js/landing-page.js"></script>

<!-- vegas slider -->
<script defer src="js/vegas.min.js" type="text/javascript"></script>

<!-- Three.js -->
<script defer src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>

<!-- My own script -->
<script defer src="js/script.js"></script>

<!-- Cube scripts -->
<script defer src="/js/THREEx.WindowResize.js"></script>
<script defer src="/js/cube.js" type="text/javascript"></script> 
